USE [PersonalFinanceDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/05/2026 11:09:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 02/05/2026 11:09:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Period] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Budgets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 02/05/2026 11:09:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Category] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[UserId] [int] NOT NULL,
	[WalletId] [int] NOT NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/05/2026 11:09:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[PhoneNumber] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wallets]    Script Date: 02/05/2026 11:09:53 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wallets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_Wallets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260426060554_InitialCreateForExpress', N'8.0.3')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20260426060707_InitialCreate', N'8.0.3')
GO
SET IDENTITY_INSERT [dbo].[Budgets] ON 

INSERT [dbo].[Budgets] ([Id], [Category], [Amount], [Period], [StartDate], [EndDate], [Description], [CreatedAt], [UpdatedAt], [UserId]) VALUES (1, N'Làm Đẹp', CAST(1000000.00 AS Decimal(18, 2)), N'Monthly', CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-30T00:00:00.0000000' AS DateTime2), N'Đi Spa, massage, cắt gội nhuộm uốn, tạo kiểu, quần áo, giày dép', CAST(N'2026-04-28T18:23:36.2260441' AS DateTime2), NULL, 1)
INSERT [dbo].[Budgets] ([Id], [Category], [Amount], [Period], [StartDate], [EndDate], [Description], [CreatedAt], [UpdatedAt], [UserId]) VALUES (2, N'Đầu tư bản thân', CAST(1000000.00 AS Decimal(18, 2)), N'Monthly', CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-30T00:00:00.0000000' AS DateTime2), N'Sách, khóa học, GYM', CAST(N'2026-04-28T18:24:26.4879864' AS DateTime2), NULL, 1)
INSERT [dbo].[Budgets] ([Id], [Category], [Amount], [Period], [StartDate], [EndDate], [Description], [CreatedAt], [UpdatedAt], [UserId]) VALUES (3, N'Điện nước xăng gas', CAST(1000000.00 AS Decimal(18, 2)), N'Monthly', CAST(N'2026-04-01T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-30T00:00:00.0000000' AS DateTime2), N'nhiên liệu đi lại, nấu ăn', CAST(N'2026-04-28T18:25:34.2886666' AS DateTime2), NULL, 1)
SET IDENTITY_INSERT [dbo].[Budgets] OFF
GO
SET IDENTITY_INSERT [dbo].[Transactions] ON 

INSERT [dbo].[Transactions] ([Id], [Amount], [Type], [Category], [Description], [TransactionDate], [CreatedAt], [UpdatedAt], [UserId], [WalletId]) VALUES (1, CAST(20000000.00 AS Decimal(18, 2)), N'Income', N'Đầu tư bản thân', N'Tiền Lương', CAST(N'2026-04-28T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-28T18:48:50.7573279' AS DateTime2), CAST(N'2026-04-28T18:51:02.8845290' AS DateTime2), 1, 2)
INSERT [dbo].[Transactions] ([Id], [Amount], [Type], [Category], [Description], [TransactionDate], [CreatedAt], [UpdatedAt], [UserId], [WalletId]) VALUES (2, CAST(2000000.00 AS Decimal(18, 2)), N'Income', N'Công việc', N'tiền đầu tư', CAST(N'2026-04-28T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-28T18:51:50.4278872' AS DateTime2), NULL, 1, 3)
INSERT [dbo].[Transactions] ([Id], [Amount], [Type], [Category], [Description], [TransactionDate], [CreatedAt], [UpdatedAt], [UserId], [WalletId]) VALUES (3, CAST(1000000.00 AS Decimal(18, 2)), N'Income', N'Đầu tư bản thân', N'Chi tiêu cá nhân', CAST(N'2026-04-28T00:00:00.0000000' AS DateTime2), CAST(N'2026-04-28T18:52:33.9722358' AS DateTime2), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [FirstName], [LastName], [PhoneNumber], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'buiduykhanh.biz@gmail.com', N'$2a$11$0rWhc3KRTT4bRWD/.qX.yuxBrEkk2.R9xc0NeAK9QeVCgARZUma1O', N'Khánh', N'Bùi', N'0326889253', CAST(N'2026-04-26T13:09:18.3674306' AS DateTime2), CAST(N'2026-05-01T13:37:42.3691590' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[Wallets] ON 

INSERT [dbo].[Wallets] ([Id], [Name], [Balance], [Type], [Description], [CreatedAt], [UpdatedAt], [IsActive], [UserId]) VALUES (1, N'Momo', CAST(50000000.00 AS Decimal(18, 2)), N'E-wallet', N'tiền chi tiêu cá nhân', CAST(N'2026-04-28T18:50:34.4696132' AS DateTime2), NULL, 1, 1)
INSERT [dbo].[Wallets] ([Id], [Name], [Balance], [Type], [Description], [CreatedAt], [UpdatedAt], [IsActive], [UserId]) VALUES (2, N'MB Bank', CAST(20000000.00 AS Decimal(18, 2)), N'Bank', N'Tiền Lương', CAST(N'2026-04-28T18:50:37.7589226' AS DateTime2), NULL, 1, 1)
INSERT [dbo].[Wallets] ([Id], [Name], [Balance], [Type], [Description], [CreatedAt], [UpdatedAt], [IsActive], [UserId]) VALUES (3, N'Techcombank', CAST(0.00 AS Decimal(18, 2)), N'Bank', N'Tiền đầu tư tài chính Forex và Crypto', CAST(N'2026-04-28T18:50:42.0371372' AS DateTime2), NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[Wallets] OFF
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [FK_Budgets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [FK_Budgets_Users_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Users_UserId]
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Wallets_WalletId] FOREIGN KEY([WalletId])
REFERENCES [dbo].[Wallets] ([Id])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Wallets_WalletId]
GO
ALTER TABLE [dbo].[Wallets]  WITH CHECK ADD  CONSTRAINT [FK_Wallets_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wallets] CHECK CONSTRAINT [FK_Wallets_Users_UserId]
GO
